
.gioi-thieu {
    background-color: #F3FDE8;
}


.lien-he {
    color:beige;
    background-image: url("background.jpeg");
    background-repeat: repeat;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

h1 {
    color:#CAEDFF; 
    font-size: 24px;
    -webkit-text-stroke: 1px black;
    text-align: center;
}

h2 {
    color:#D8B4F8 ;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
}

h3 {
    color:#FFC7EA ;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
}

h4{
    font-size: 24px;
    -webkit-text-stroke: 1px black;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}


nav {
    background-color: #d4f2f4;
    color: #0b0848;
}


nav a {
    color: #0b0848;
}

footer {
    background-color: #d4f2f4;
    color: #0b0848;
}